@font-face {
    font-family: "hallo";
    src: url("../fonts/hallo_sans_black-webfont.woff2") format("woff2"),
        url("../fonts/hallo_sans_black-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "hallo";
    src: url("../fonts/hallo_sans-webfont.woff2") format("woff2"),
        url("../fonts/hallo_sans-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hallo";
    src: url("../fonts/hallo_sans_light-webfont.woff2") format("woff2"),
        url("../fonts/hallo_sans_light-webfont.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}


iframe{
    width:100%;
/*    border:none; */
    height: 400px;
}

body{
    overflow:hidden;
    font: 15px/23px  Arial, sans-serif;
    color:#3e474c;
}

h1, h2, h3, h4, h5 {
    font-family: "hallo", Arial;
}

/* Font styles */

h4 {
    color:#8c191c;
    font-weight: bold;
}

h4 a{
    color: #8b181f;
    text-decoration:none;
    transition:0.3s;

    /* text-transform: uppercase; */
}

h4 a:hover, h3 a:hover, h2 a:hover {
    color:#4b0f12;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 0 rgba(139, 24, 31, 0.5);
    transition:0.3s;
}

h3, h2 {
    color: #276d7e;
    font-weight: bold;
}

.blog-post .post-header h2 a {
    color: #8b181f;
    text-decoration:none;
    transition:0.3s;
}

.blog-post .post-header h2 a:hover {
    color:#4b0f12;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 0 rgba(139, 24, 31, 0.5);
    transition:0.3s;;
}

.slide h2, .slide h3, .slide h4 {
    color:#ffffff !important;
}

.slide h2 {
    font-size:36px;
    text-shadow: #276d7e;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.slide h3 {
    font-size:24px;
}

.slide h3, .slide h4 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);}

.slide h4 {
    font-size:18px;}

.blog-post .post-title  {min-height:2em;letter-spacing: 0.5px;font-size: 110%;min-height: 4em;}


.sidebar-box h3 {
    font-weight: bold;
}

@media (min-width: 1200px) {

    .sidebar {
        width: 22% !important;
        padding-left: 1% !important;
        border-left: 1px solid #eeeeee !important;
        margin-left: 2%;}}

a {
    color: #8d181b;
}

img {
    max-width: none;
}

blockquote{
    border-left:3px solid #8d181b;
    color:#3e474c;
    background:#fafbfd;
    width: 45%;
    float: right;
}

/* Boxed Layout Header */

.boxed-layout #main-header>.container{
    background: #cfded7;
    background-color:#8e8918;
}


/* Main Header */

#main-header{
    background:#ffffff;
    height: 130px;
}

#logo {
    padding-top: 20px;
    /* max-width: 50px; */
    /* display: inline-block; */
    overflow: visible;
}

#logo img {
    max-width:110px;
}

#logo:after {
    content: "Independent, Vigilant, Informed";
    font-size: 10px;
    letter-spacing: .5px;
    display:block;
    font-weight: bold;
    color: #276d7e;
    text-transform:uppercase;
    margin-top:5px;
    font-family: "hallo",sans-serif;
}

#main-header blockquote:before{
    content: "";
}

#main-header blockquote:after{
    content: "";
}

/* Main Menu*/

#navigation > li.expanded > a, #navigation > li.collapsed > a, #navigation > li.leaf > a, #navigation > li > a, #navigation >li.donate-button > a, #navigation > li.current-menu-item > a {
    display:block;
    padding:20px 0px 20px 0px;
    border-top:none !important;
    border-bottom: none !important;
    margin-top:-1px;
}

#navigation > li > a{

    /* background: #8E8918; */
    color: #175162;
    background:none;
    text-transform: uppercase;

    /* border-bottom: 1px solid #ffffff; */
    font-family: "hallo", Arial;
    font-size: 14px;
    letter-spacing: 3px;
    transition:0.4s;
}

#navigation>li>a:after,
#navigation>li>span:after {
    color: #276d7e;
}


#navigation li.donate-button>a {
    font-size: 14px;
    border-top: 1px solid #02909c;
    border-bottom: 1px solid #02909c;
    background: #02909c;
    transition:0.4s;
}

#navigation li:hover,
#navigation li:hover>span,
#navigation>li.current-menu-item,
#navigation>li.current-menu-item>span,
#navigation>li.current-menu-item>a{
    transition: 0.3s !important;

    /*border-top:1px solid #c5c499;
	border-bottom:1px solid #c5c499;*/

    color: #276d7e;
    background: white;
}



#navigation li:hover {background:#276d7e;color:#ffffff;transition:0.3s;}


#navigation li.donate-button>a:hover {
    background:#ffffff;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    transition:0.4s;

}

#navigation li.donate-button>a:after{
    color:#ffffff !important;
}

#navigation li.donate-button>a:hover:after{
    color:#276d7e !important;
}

.gray-bg{
    background:#ffffff;
}

#lower-header{
    background-color: #ffffff;
    border-top: solid 1px #276d7e;
    border-bottom: solid 1px #276d7e;
}

/* Footer*/

#main-footer {
    background-color: #276d7e;

}

#main-footer p {
    color: #ffffff;
    font-size:80%;
}

#main-footer h4{
    font-weight: bold;
}

#lower-footer {
    background-color: #175162;
}

#lower-footer a{
    color: #ffffff;
    font-weight:800;
}

#lower-footer p {
    color:#ffffff;
    font-size:90%;
    font-weight:100;
}

/* Buttons*/

a.button.read-more-button.big, .button.transparent.button-arrow {
    background-color:#175162;
    border-radius: 5px !important;
    color:#ffffff;
    border-radius: 0;
    margin: 0 auto;
    font-family: "hallo", Arial;
    letter-spacing:1.5px;
    font-size:13px;
text-transform:uppercase ;
    font-size: 14px !important;
    border: 1px solid #175162 !important;
    letter-spacing: 1.5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:16px;
    padding-right:16px;

}

a.button.transparent.button-arrow:after {
	color: white;
}

a.button.transparent.button-arrow:hover:after {
	color:#02909c;
	}
}

.blog-post > a.button.read-more-button.big {
    vertical-align:bottom;
    margin-bottom: 10px;
    margin-top: 10px;


}

a.button.read-more-button.big:hover {
    background-color:#02909c;
}

a.button, button {
    background: #02909c;
    color:#ffffff;
    border:1px solid #02909c !important;
    box-sizing:content-box !important;

}

a.button:hover, button:hover, .button.transparent.button-arrow:hover {
    background: #ffffff;
    color: #02909c;
    border:1px solid #02909c !important;
    box-sizing:content-box !important;
}

/* .....  */

.post-title {

    /* height: 70px; */
}

.banner:hover {
    background: #88a5ab;
}

.owl-wrapper-outer {
    background-color: #dae8eb;
}

.issue-block{
    background:#8e8918;
    opacity: 10%;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    margin-top:30px;
}

.upcoming-events .date>span {
    background: rgb(87, 190, 209);
    border-radius: 0;
    font-family: "hallo", Arial;
}

.upcoming-events>li:hover .date>span{
    background:#88a5ab;
    color:#ffffff;
}

input[type="submit"], input[type="reset"]{
    background: #02909c;
    color: #ffffff;
    border: 1px solid #02909c;
    font-size:15px !important;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background: #ffffff;
    border: 1px solid #02909c;
    color:#02909c;
}

.view-header {
    padding-top: 20px;
}

/* Classes to use on Views etc*/

.palegreen {
    background-color: #dae8eb;
}

.paleblue {
    background-color: #dae8eb;
}

.strongblue {
    background-color: #dae8eb;
}

.paleyellow {
    background-color: #dae8eb;
}

.fix-width-10 {
    width: 10%;
}

.fix-width-15 {
    width: 15%;
}

.fix-width-20 {
    width: 20%;
}

.fix-width-25 {
    width: 25%;
}

.fix-width-30 {
    width: 30%;
}

.fix-width-33 {
    width: 33.3%;
}

.fix-width-40 {
    width: 40%;
}

.fix-width-50 {
    width: 50%;
}

.vertical-align-top {
    vertical-align: top;
}


.twitter-widget-area{
    background:0 center no-repeat;
    opacity: 100%;
}

.banner{
    border-radius: 0;
}

.front .page-heading {
    display: none;
}

.highlight {
    background: #ffffff;
}

.owl-header .carousel-arrows span{
    background: #02909c;
    border: solid 1px #02909c;
}

.owl-header .carousel-arrows span:hover{
    background:#ffffff;
    border: solid 1px #02909c;
}

.numeric-pagination {
    margin-top: 10px;
}

.event-meta-block p {
    white-space: normal;
}

.event-meta-block {
    height: 95px;
}


/* civi styling */


.fix-width-50 > .node-event img {
    width: 40vw !important;
    margin: 0px;
    height:auto;
}

.fix-width-50 > .node-event > .field-name-field-date, .fix-width-50 > .node-event > .field-type-text, .fix-width-50 > .node-event > .field-label-above {
    text-align:center;
}


.crm-form-text {
    border: 1px solid #175162 !important;
    padding: 8px 10px;
    background: #fafafa !important;
    color: #175162 !important;

}



#navigation .active-trail a {
	color:#ffffff;
}


/*

#navigation .active-trail:hover, #nagivation .active-trail:hover, #navigation .expanded.active-trail:hover {
background:red !important;
color: blue !important;
}*/

#block-views-spokesperson-block-2 img, #block-views-spokesperson-block-4 img, #block-views-spokesperson-block-5 img {
    width: 100% !important;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top:5px;
    border: 1px solid #276d7e
}

#block-views-spokesperson-block-2 a, #block-views-spokesperson-block-4 a , #block-views-spokesperson-block-5 a {
    font-size: 100% !important;
    font-weight:bolder;
}

#block-views-spokesperson-block-2 div.field-content, #block-views-spokesperson-block-4 div.field-content, #block-views-spokesperson-block-5 div.field-content {
    font-weight:bolder;
    font-variant:all-small-caps;
    margin-bottom:5px;
    color: #276D7e;

}

#block-views-spokesperson-block-2 a.views-more-link, #block-views-spokesperson-block-4 a.views-more-link, #block-views-spokesperson-block-5 a.views-more-link {
    font-weight:300;
}

#block-views-spokesperson-block-2 div.views-field-body, #block-views-spokesperson-block-4 div.views-field-body, #block-views-spokesperson-block-5 div.views-field-body {
    font-size:90%;
    margin-top:5px;
}

#navigation .active-trail, #navigation .expanded.active-trail {
background:#276D7E;
color: #ffffff;
}

#navigation .expanded.active-trail  {
    border-right: 1px solid #175162 !important;
}

#navigation a.active-trail:after,
#navigation a.active-trail,
#navigation > li.active-trail > span,
#navigation > li.active-trail > a {

 color: #ffffff !important;
}

#navigation a.active-trail:hover:after,
#navigation a.active-trail:hover,
#navigation > li.active-trail > span:hover,
#navigation > li.active-trail > a:hover,
#navigation > li.active-trail:hover > a,
#navigation > li.active-trail:hover > a:after {
	 color: #276d73 !important;
	 transition: 0.3s;
}

#navigation .active-trail ul a {
background:#ffffff;
color: #276D7E;
}

#navigation .active-trail.active {
    background:#276D7E !important;
    color: #ffffff !important;
}

#navigation .active-trail.active:hover {
    background:#ffffff !important;
    color: #276D7e !important;
    border-right: none !important;
}

#navigation>li:first-child {
    border-left: 1px solid #276d7e;
        border-right: 1px solid #175162 !important;
}

.node-presidents-update .field-name-field-header-image img {
width: 100%;
height:auto;
margin-bottom: 20px;
}

.node-presidents-update .field-name-event-calendar-date div,
.node-presidents-update .field-name-field-author div {
	font-size: 10pt;
	display: inline-block;
	float:left;
	font-weight: 500;
	line-height: 11.5pt
}

.node-presidents-update .field-name-body .field-items div{
	margin-top: 20px;
}

.node-presidents-update h2 {
	text-transform: uppercase;
	font-size: 18px;
	margin-top: -5px
}

.node-type-event-calendar .full-width-map  iframe {
	border: 1px solid #02909c !important;
}

.node-type-event-calendar .style-1-frame iframe {
	width: 100% !important;
  margin-left: none !important;
	border: 1px solid #02909c !important;
  margin-bottom: 20px;
}

.node-type-event-calendar .style-1-button {
  display:block;
  margin-top: -20px;
  margin-bottom: 40px;
}

.node-type-event-calendar .region-content img {
  width:100%;
}

@media (max-width: 767px) {
	.node-type-event-calendar .style-1-button {
margin-left: 15px;
  margin-top: 0px;

}
}

.node-type-submission .field-name-field-laypersons-summary .field-items div {
	padding-bottom: 10px;
	 margin-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}

.page-events .blog-post > .post-image img {
      border-radius: 10px 10px 0px 0px !important;
}

@media (max-width: 767px) {
	#block-search-form {
		display:none;
	}
}

div .sidebar #block-search-form {
	width:100% !important;
	padding-left: 0px;
	margin-bottom: 13px;

}

.sidebar .civiform fieldset {
	margin-top: 0px;
	margin-left: 15px;

}

.sidebar .civiform .fieldset-legend {
	display:none;
}

.sidebar  .civiform label, .sidebar  .civiform .webform-civicrm-prefix {
	font-size: 9pt;
	line-height: 1.5;
}

.sidebar  .civiform input {
	width: 80%;
	display: block;
	margin-bottom: 0px;

}

.sidebar .civiform .form-email  {
	    border: 1px solid #02909c;
    font-size:15px !important;
    color:#276d7e;

}

.sidebar  .civiform h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.sidebar .civiform {
	background: none;
	margin-top: 1px;
	margin-bottom: 16px;
}

#block-widgets-s-facebook-like-box {
	max-width:200px !important;
	overflow: hidden;
	max-height: 70px;
}

#widgets-element-socialmedia_facebook-like-button {
  margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px
}

#widgets-element-socialmedia_twitter-tweet-no-count {
  margin-top: 8px;
  margin-bottom: 5px;
}

#widgets-element-socialmedia-share  {
}

.field-type-taxonomy-term-reference .field-item {
	display: inline;
	margin-right: 10px;}

.field-type-taxonomy-term-reference .field-item:after
{content:',';}

.field-name-field-tags.field-type-taxonomy-term-reference .field-item:before
{content:'\e837'' ';
font-family: 'fontello';
font-size: 80%;
opacity: 0.5;}

.field-type-taxonomy-term-reference .field-item:last-child:after
{content:none;}

.field-name-field-external-link a {
    margin-top: 15px;
    display:inline-block;
    font-size: 14px;
    font-family: "hallo";
    font-size: 15px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    background: #02909c;
    color: #ffffff;
    border: 1px solid #02909c;
        transition: 0.3s;
}

.field-name-field-external-link a:hover {
	background: #ffffff;
    border: 1px solid #02909c;
    color: #02909c;
    transition: 0.3s;
}

.node-type-media .field-items img {
  object-fit: cover;
  position: relative;
  width:100%;
  max-height:400px;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* flex viewport gradient overlay

.flex-viewport li > div {
background: -moz-linear-gradient(45deg, rgba(23,81,98,0.5) 0%, rgba(2,144,156,0.7) 100%);
background: -webkit-linear-gradient(45deg, rgba(23,81,98,0.5) 0%,rgba(2,144,156,0.7) 100%);
background: linear-gradient(45deg, rgba(23,81,98,0.5) 0%,rgba(2,144,156,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80175162', endColorstr='#8002909c',GradientType=1 ); ;
	height:100%;
}
*/

.themeblock img { max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid red !important; }

.themeblock {
    width: 50%;
    margin: none !important;
    float: left;
}


.themeblock h4.field-content:before {
	height:0.5px;
	color:red;
	width:100%;
	display:block;
	background-color: #02909c;
	background:#02909c;
	content: '';
	transform:translateY(-10px);
	margin-bottom: 5px;
}


.themeblock {
	border-bottom: 1px solid #02909c;
	padding-bottom: 10px;
}

.themeblock .views-field-body {
	margin-top: 10px;
	margin-bottom: 10px;
}

.themeblock a strong {
	margin-top:10px;
	display:inline-block;
}

.themeblock h4 {
	margin-top:20px;
	margin-bottom:10px;
}

#main-footer a {
    color: #ffffff;
    font-weight: bold;
}
